{{define "yield"}}
	<div class="row justify-content-md-center">
		<div class="col-md-6">
			  <div class="card border-primary bg-light mb-3">
				<div class="card-header text-light bg-primary ">Sign Up Now!</div>
				<div class="card-body">
					{{template "signupForm"}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "signupForm"}}
<form>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{{end}}